

.hideme {
  display: none;
}

.showme{
  display: inline-block;
}

.border-green {
  border: 2px solid green;
}

.border-red {
  border: 2px solid red
}

/* ************************************* */

body {
  background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4);
  background: linear-gradient(to left, #c2e59c, #64b3f4)
}


#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;

}

.form-group {
  padding: 17px;
  position: relative;
}


.alerts {
  color: white;
  position: absolute;
  background-color: red;
  border-radius: 5px;
  padding: 7px;
  right: 21%;
  top: 26%;
}

#testme {
  background-color: brown;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 1.2rem;
}

/* ************************************ */

.form-group input {
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
}
.form-group textarea {
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.form-group input:hover {
  cursor: pointer;

}

select {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 23px;
}

select:hover {
  background-color: brown;
  color: aliceblue;
}


.radio-wrapper-relative {
  position: relative;
  display: inline;
}

input[type='radio'] {
  transform: scale(3);
  margin-left: 20px;
  margin-right: 10px;
  opacity: 0;

  /* works if position of this is absolute:  */
  z-index: 10;
}

.radio-fake-button {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  margin-left: 14px;
  z-index: 5;
}

 input[type='radio']:checked + span {
  background-color: brown;
}







input[type='checkbox'] {
  transform: scale(2);
  margin-left: 20px;
  margin-right: 10px;
}
